# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches
trakt_metadata_cache.json
trakt_history_cache.json

# User-specific configuration
config.json
sync_history.json

# Virtual Environment
venv/
.venv/
ENV/
env/
venv.bak/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
*.sublime-project
*.sublime-workspace